@{
    ViewData["Title"] = "Actividad Censa";
}

<div class="text-center">
    <h1 class="display-4">Calculadora Censa ASP.NET Core </h1>
    <p>Si quieres saber mas , ingresa a su documentacion.<a href="https://docs.microsoft.com/aspnet/core">Mi primera app Web con  ASP.NET Core</a>.</p>
</div>
